*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.main-contents{
	margin: 50px auto;
	width: 960px;
}
.step-contents{
	width: 300px;
	border: 1px solid #c3c3c3;
	padding: 10px;
	position: relative;
	float: left;
	margin-right: 30px
}
.step-contents:nth-child(3){
	margin-right: 0px;
}

.step-contents h4{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: orange;
	line-height: 1.8;
	padding: 0 5px;
}
.step-title{
	margin: 10px 0;
}
.step-image1{
	width: 280px;
	height: 150px;
	background-image: url(1-9img/flow01.png);
	background-size: cover;
	background-position: bottom;
}
.step-image2{
	width: 280px;
	height: 150px;
	background-image: url(1-9img/flow02.png);
	background-size: cover;
	background-position: bottom;
}
.step-image3{
	width: 280px;
	height: 150px;
	background-image: url(1-9img/flow03.png);
	background-size: cover;
	background-position: bottom;
}

@media screen and (max-width: 768px){
	.main-contents{
		width: 100%;
		margin: 50px auto;
	}
	.step-contents{
		width: 90%;
		margin: 20px;
		float: none;
	}
	.step-image1{
		width: 100%;
	}
	.step-image2{
		width: 100%;
	}
	.step-image3{
		width: 100%;
	}
}